@import './buttons.scss';

body {
  background-color: $primary;
}

h1 {
  font-size: 2.75em;
  color: white;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  color: white;
}

h1, h2, h3, h4, h5 {
  color: white;
}

a {
  color: $accent;
  transition: color 0.2s;
}

a:hover,
a:active {
  color: $accent-hover;
}

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.float-right { float: right; }
.float-left { float: left; }

.msg-red {
  width: 100%;
  background-color: rgba(251, 87, 87, 0.46);
  border: 1px solid #cc0000;
  border-radius: 3px;
  padding: 8px 10px;
  margin-bottom: 15px;
}

// =============================================================================
// Floating Label Inputs
// =============================================================================

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  font-size: 0.75em;
  color: rgba(255, 255, 255, 0.55);
  top: -0.75rem;
  -webkit-transition: all 0.125s ease;
  transition: all 0.125s ease;
}

.styled-input {
  float: left;
  width: 33.3333%;
  margin: 1.25rem 0 0.75rem;
  position: relative;
}

.styled-input label {
  color: rgba(255, 255, 255, 0.55);
  padding: 1rem;
  position: absolute;
  top: 2px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide { width: 100%; }

input,
textarea {
  //padding: 1rem;
  padding: 1.5rem 1rem 1rem;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: $primary-xlight;
  color: white;
}

input ~ span,
textarea ~ span {
  display: block;
  width: 0;
  height: 3px;
  background-color: $primary-xlight;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.125s ease;
  transition: all 0.125s ease;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $primary-light inset;
    -webkit-text-fill-color: white !important;
}
